p{
    font-style: italic;
}
a{
    text-decoration: none;
    color: rgb(0, 71, 163);
}
a:hover{
    color: orangered;
}

body{
    background-color: rgb(241, 236, 230);
    margin: 0;
    padding: 0;
}

form{
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

button{
    background-color:white;
    border-radius: 20cm;
    padding: 10px;
    padding-inline: 3%;
    background: linear-gradient(black,white);
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:black;
}
nav{
    display: flex;
    gap: 1rem;
    padding: 15px;
}
nav a{
    color: black;
    text-decoration: none;

}
nav a:hover{
    color: tomato;
}